<div class="hero-unit">
<h1>Hey Mama! I'm programming!</h1>
<p>
	They better watch out. I'm learning how to code!  
	<!--<%= link_to "One Month Rails", "http://onemonthrails.com" %>
	application.-->
</p>
<p>
	<%= link_to "Hit Me!", "#", class: "btn btn-primary btn-large" %>
</p>
</div>

